<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
	<title>Hello</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=500">
	<link th:href="@{/css/memo.css}" href="../static/css/memo.css"  rel="stylesheet" type="text/css">
  </head>
  <body>
	<div class="header">
		<div class="head-left"></div>
		<div class="head-center">メモ入力</div>
		<div class="head-right"><a href="/memo">ログアウト</a></div>
	</div>
	
	
	<div class="tab-1">
		
		<!--<th:block th:each="i : ${#numbers.sequence(0,2)}"> --> 
		<th:block th:each="memo, stat : ${memoList}">
			<label>
		        <th:block th:if="${beforeMemoId == null || stat.count == beforeMemoId}">
			        <input type="radio" name="tab-1" checked>
				</th:block>
		        <th:block th:unless ="${stat.count == beforeMemoId}">
			        <input type="radio" name="tab-1">
				</th:block>
		        
		        <th:block th:if="${#strings.isEmpty(memo.title)}">
					<span th:text="${'メモ' + stat.count}"></span>
				</th:block>
		        <th:block th:unless="${#strings.isEmpty(memo.title)}">
					<span th:text="${memo.title}"></span>
				</th:block>
		    </label>
		    <div>
				<form type="submit" method="post" action="/memo/memoUpdate" autocomplete="off">
					<div>
						<input type="text" name="title" placeholder="タイトル" th:value="${memo.title}">
					</div>
					<div>
						<textarea name="text" th:text="${memo.text}"></textarea>
					</div>
					<input type="hidden" name="userId" th:value="${userId}"></input>
					<input type="hidden" name="memoId" th:value="${stat.count}"></input>
					<div>
						<input class="submit" type="submit" value="登録">
					</div>
				</form>
		    </div>
		</th:block>
		<!-- 行追加用 
	    <label style="flex:none;width:30px;">
		    <input type="radio" name="tab-1">
			<span th:text="＋"></span>
	    </label>
	    <div>
	    </div>-->
	</div>
  </body>
</html>